*.pyc
*.pkl
__pycache__/postprocessing.cpython-38.pyc
__pycache__/postprocessing.cpython-38.pyc
__pycache__/function.cpython-38.pyc
__pycache__/configuration.cpython-38.pyc
__pycache__/cgp.cpython-38.pyc
.history
